@model LuzzedroCMS.Models.ResetViewModel
@using LuzzedroCMS.WebUI.Properties

@using (Html.BeginForm("Reset", "Account", new { token = Request.QueryString["token"] }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h1>Wprowadź dwukrotnie nowe hasło</h1>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PasswordConfirm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.ResetPassword" class="btn btn-default" />
            </div>
        </div>
    </div>
}
