@model LuzzedroCMS.Models.ResetPasswordViewModel
@using LuzzedroCMS.WebUI.Properties

@using (Html.BeginForm("Reset", "Account", new { token = Request.QueryString["token"] }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control login-password" } })
                    <span class="input-group-btn">
                        <button class="btn btn-default ShowPasswordLS" data-target=".login-password" type="button">@Resources.ShowPassword</button>
                    </span>
                </div>
                @Html.ValidationMessageFor(x => x.Password, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.ResetPassword" class="btn btn-success" />
            </div>
        </div>
    </div>
}
