@model LuzzedroCMS.Models.ArticlesExtendedViewModel
@using LuzzedroCMS.WebUI.Properties

@foreach (var articleExtended in Model.ArticlesExtended)
{
    <a href="@Url.RouteUrl("Article", new { url = articleExtended.Article.Url })" title="@articleExtended.Article.Title">
        <div class="row">
            <div class="col-md-2">
                <img src="@Url.Content(String.Format("{0}ArticleImage/Images120/{1}", Model.ContentExternalUrl, articleExtended.Article.ImageName))" alt="@articleExtended.Article.ImageDesc" title="@articleExtended.Article.ImageDesc" />
            </div>
            <div class="col-md-10">
                <h4>@articleExtended.Article.Title</h4>
            </div>
        </div>
    </a>
    <hr />
}
@if (!Model.ArticlesExtended.Any())
{
    <h4>@Resources.NoResults</h4>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.RouteUrl("FavsPaged", new { page = x }))
</div>

