@model IList<LuzzedroCMS.Domain.Entities.Category>
@using LuzzedroCMS.WebUI.Properties

@foreach (var category in Model)
{
    <div class="panel panel-default">
        <div class="panel-body admin-panel">
            <div class="col-md-1">
                <span class="label label-success">
                    <span class="fa fa-sort"></span>
                    @Html.DisplayFor(x => category.Order)
                </span>
            </div>
            <div class="col-md-1">
                @(category.Status == 1 ? new HtmlString("<span class=\"label label-success\"><span class=\"fa fa-eye\"></span></span>") : new HtmlString("<span class=\"label label-danger\"><span class=\"fa fa-eye-slash\"></span></span>"))
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(x => category.Name)
            </div>
            <div class="col-md-3">
                @using (Html.BeginForm("RemoveCategory", "Admin", FormMethod.Post, new { @class = "inline-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    @Html.Hidden("CategoryID", category.CategoryID)
                    @Html.ActionLink(Resources.Edit, "EditCategory", new { category.CategoryID }, new { @class = "btn btn-default" })
                    <input type="submit" value="@Resources.Remove" class="btn btn-danger" />
                }
            </div>
        </div>
    </div>
}
