@model LuzzedroCMS.Models.CommentsViewModel
@using LuzzedroCMS.WebUI.Properties

@foreach (var comment in Model.Comments)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    @Html.Label(Resources.Comment)
                </div>
                <div class="col-md-2">
                    @Html.Label(Resources.DateAdded)
                </div>
                <div class="col-md-3">
                    @Html.Label(Resources.User)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @if (comment.Status == 1)
                    {
                        <i class="fa fa-eye"></i>
                    }
                    else
                    {
                        <i class="fa fa-eye-slash"></i>
                    }
                    @comment.Content
                </div>
                <div class="col-md-2">
                    @comment.Date.ToString()
                </div>
                <div class="col-md-3">
                    @comment.User.Nick<br />@comment.User.Email
                </div>
                <div class="col-md-3">
                    @using (Html.BeginForm("RemoveComment", "Admin", FormMethod.Post, new { @class = "inline-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("CommentID", comment.CommentID)
                        <input type="submit" value="@Resources.Remove" class="btn btn-danger" />
                        @Html.ActionLink(Resources.Edit, "EditComment", new { comment.CommentID }, new { @class = "btn btn-default" })
                    }
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.RouteUrl("AdminCommentsPaged", new { page = x }))
</div>




