@model LuzzedroCMS.Domain.Entities.User
@using LuzzedroCMS.WebUI.Properties

@using (Html.BeginForm("EditComment", "Admin"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Nick, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.Nick, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Nick, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.PhotoUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.PhotoUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.PhotoUrl, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resources.MainPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="user-photo">
                    <img src="@Url.Content(String.Format("~/Content/UserProfileImage/{0}", Model.PhotoUrl))" class="img-circle pull-left" />
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Status, Resources.Visibility, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default @((Model.Status)==1?"active":"")">@Html.RadioButtonFor(x => x.Status, 1, true) <span class="glyphicon glyphicon-eye-open"></span></label>
                    <label class="btn btn-default @((Model.Status)==0?"active":"")">@Html.RadioButtonFor(x => x.Status, 0, false) <span class="glyphicon glyphicon-eye-close"></span></label>
                </div>
                @Html.ValidationMessageFor(x => x.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
