@model LuzzedroCMS.Models.ArticlesViewModel
@using LuzzedroCMS.Domain.Entities;
@using LuzzedroCMS.WebUI.Properties
@{
    Layout = null;
}
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="default-title">@Resources.SeeSimilarArticles</div>
    </div>
</div>
<div class="row">
    @foreach (Article article in Model.Articles)
    {
        <div class="col-sm-6 col-md-3">
            <a href="@Url.RouteUrl("Article", new { url = article.Url})" class="thumbnail thumbnail-link" title="@article.Title">
                <img src="@Url.Content(String.Format("{0}ArticleImage/Images320/{1}", Model.ContentExternalUrl, article.ImageName))" alt="@article.ImageDesc" title="@article.ImageDesc" />
                <div class="caption">
                    <div>
                        @if (article.Comments.Count() > 0)
                        {
                            <span class="comment-number"><i class="fa fa-comment"></i> @article.Comments.Count()</span>
                        }
                    </div>
                    <h3 class="caption-article-title">@article.Title</h3>
                    <p>@article.Lead</p>
                </div>
            </a>
        </div>
    }
</div>