@model LuzzedroCMS.Models.ArticleListPageViewModel
@using LuzzedroCMS.WebUI.Properties
@using LuzzedroCMS.Domain.Entities;

@helper ArticlesListByCategory(IList<ArticleExtended> articles, int number)
{
if (articles.Any() && articles.Skip(number).Any())
{
    ArticleExtended article = articles.Skip(number).First();
        <a href="@Url.Action("Article", new { controller = "Article", action = "Article", url = article.Article.Url, category = article.Category.Name })" class="thumbnail thumbnail-link" title="@article.Article.Title">
            <div class="row">
                <img src="@Url.Content(String.Format("{0}ArticleImage/Images120/{1}", Model.ContentExternalUrl, article.Article.ImageName))" class="col-md-4" alt="@article.Article.ImageDesc" title="@article.Article.ImageDesc" />
                <div class="caption col-md-8">
                    <h3 class="caption-article-title">
                        @articles.Skip(number).First().Article.Title
                        @if (article.CommentsExtended.Count() > 0)
                        {
                            <span class="comment-number"><i class="fa fa-comment"></i> @article.CommentsExtended.Count()</span>
                        }
                    </h3>
                </div>
            </div>
        </a>
}
}

@helper ArticlesListByCategoryHead(IList<ArticleExtended> articles, int number)
{
if (articles.Any() && articles.Skip(number).Any())
{
    ArticleExtended article = articles.Skip(number).First();
        <div class="default-title">@article.Category.Name</div>
        <a href="@Url.Action("Article", new { controller = "Article", action = "Article", url = article.Article.Url, category = article.Category.Name })" class="thumbnail thumbnail-link" title="@article.Article.Title">
            <img src="@Url.Content(String.Format("{0}ArticleImage/Images320/{1}", Model.ContentExternalUrl, article.Article.ImageName))" alt="@article.Article.ImageDesc" title="@article.Article.ImageDesc" />
            <div class="caption">
                <h3 class="caption-article-title">
                    @article.Article.Title
                    @if (article.CommentsExtended.Count() > 0)
                    {
                        <span class="comment-number"><i class="fa fa-comment"></i> @article.CommentsExtended.Count()</span>
                    }
                </h3>
                <p>@article.Article.Lead</p>
            </div>
        </a>
}
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < 3; i++)
        {
            if (Model.LatestArticles.Any() && Model.LatestArticles.Skip(i).Any())
            {
                string active = i == 0 ? "active" : string.Empty;
        <a href="@Url.Action("Article", new
                    {
                        controller = "Article",
                        action = "Article",
                        url = Model.LatestArticles.Skip(i).First().Article.Url,
                        category = Model.LatestArticles.Skip(i).First().Category.Name
                    })"
           class="item @active article-carousel-img"
           title="@Model.LatestArticles.Skip(i).First().Article.Title">
            <img src="@Url.Content(String.Format("{0}ArticleImage/Images900/{1}", Model.ContentExternalUrl, Model.LatestArticles.Skip(i).First().Article.ImageName))" alt="@Model.LatestArticles.Skip(i).First().Article.ImageDesc" />
            <div class="carousel-caption full-width-caption">
                <h3>@Model.LatestArticles.Skip(i).First().Article.Title</h3>
                <p>
                    @Model.LatestArticles.Skip(i).First().Article.Lead
                    @if (Model.LatestArticles.Skip(i).First().CommentsExtended.Count() > 0)
                            {
                        <span class="comment-number image-category"><i class="fa fa-comment"></i>  @Model.LatestArticles.Skip(i).First().CommentsExtended.Count()</span>
                            }
                </p>
            </div>
        </a>
            }
        }
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" title="@Resources.Previous">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">@Resources.Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" title="@Resources.Next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">@Resources.Next</span>
    </a>
</div>
<hr />
<div class="row">
    @for (int y = 3; y < 6; y++)
    {
        if (Model.LatestArticles.Any() && Model.LatestArticles.Skip(y).Any())
        {
    <div class="col-sm-6 col-md-4">
        <a href="@Url.Action("Article", new { controller = "Article", action = "Article", url = Model.LatestArticles.Skip(y).First().Article.Url, category = Model.LatestArticles.Skip(y).First().Category.Name })" class="thumbnail thumbnail-link" title="@Model.LatestArticles.Skip(y).First().Article.Title">
            <img src="@Url.Content(String.Format("{0}ArticleImage/Images320/{1}", Model.ContentExternalUrl, Model.LatestArticles.Skip(y).First().Article.ImageName))" alt="@Model.LatestArticles.Skip(y).First().Article.ImageDesc" title="@Model.LatestArticles.Skip(y).First().Article.ImageDesc" />
            <div class="caption">
                <div class="image-category">
                    @Model.LatestArticles.Skip(y).First().Category.Name
                    @if (Model.LatestArticles.Skip(y).First().CommentsExtended.Count() > 0)
                            {
                        <span class="comment-number"><i class="fa fa-comment"></i> @Model.LatestArticles.Skip(y).First().CommentsExtended.Count()</span>
                            }
                </div>
                <h3 class="caption-article-title">@Model.LatestArticles.Skip(y).First().Article.Title</h3>
                <p>@Model.LatestArticles.Skip(y).First().Article.Lead</p>
            </div>
        </a>
    </div>
        }
    }
</div>
<hr />
<div class="row">
    @for (int z = 6; z < 9; z++)
    {
        if (Model.LatestArticles.Any() && Model.LatestArticles.Skip(z).Any())
        {
    <div class="col-sm-6 col-md-4">
        <a href="@Url.Action("Article", new { controller = "Article", action = "Article", url = Model.LatestArticles.Skip(z).First().Article.Url, category = Model.LatestArticles.Skip(z).First().Category.Name })" class="thumbnail thumbnail-link" title="@Model.LatestArticles.Skip(z).First().Article.Title">
            <img src="@Url.Content(String.Format("{0}ArticleImage/Images320/{1}", Model.ContentExternalUrl, Model.LatestArticles.Skip(z).First().Article.ImageName))" alt="@Model.LatestArticles.Skip(z).First().Article.ImageDesc" title="@Model.LatestArticles.Skip(z).First().Article.ImageDesc" />
            <div class="caption">
                <div class="image-category">
                    @Model.LatestArticles.Skip(z).First().Category.Name
                    @if (Model.LatestArticles.Skip(z).First().CommentsExtended.Count() > 0)
                            {
                        <span class="comment-number"><i class="fa fa-comment"></i> @Model.LatestArticles.Skip(z).First().CommentsExtended.Count()</span>
                            }
                </div>
                <h3 class="caption-article-title">@Model.LatestArticles.Skip(z).First().Article.Title</h3>
                <p>@Model.LatestArticles.Skip(z).First().Article.Lead</p>
            </div>
        </a>
    </div>
        }
    }
</div>
<hr />
@for (int x = 9; x < 11; x++)
{
    if (Model.LatestArticles.Any() && Model.LatestArticles.Skip(x).Any())
    {
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("Article", new
                    {
                        controller = "Article",
                        action = "Article",
                        url = Model.LatestArticles.Skip(x).First().Article.Url,
                        category = Model.LatestArticles.Skip(x).First().Category.Name
                    })"
                   class="media typical-color thumbnail thumbnail-link"
                   title="@Model.LatestArticles.Skip(x).First().Article.Title">
                    <div class="media-left">
                        <img src="@Url.Content(String.Format("{0}ArticleImage/Images120/{1}", Model.ContentExternalUrl, Model.LatestArticles.Skip(x).First().Article.ImageName))" alt="@Model.LatestArticles.Skip(x).First().Article.ImageDesc" title="@Model.LatestArticles.Skip(x).First().Article.ImageDesc" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@Model.LatestArticles.Skip(x).First().Article.Title</h4>
                        @Model.LatestArticles.Skip(x).First().Article.Lead
                        @if (Model.LatestArticles.Skip(x).First().CommentsExtended.Count() > 0)
                        {
                            <span class="comment-number"><i class="fa fa-comment"></i> @Model.LatestArticles.Skip(x).First().CommentsExtended.Count()</span>
                        }
                    </div>
                </a>
            </div>
        </div>
    }
}
<hr />
@if (Model != null)
{
    <div class="col-sm-6 col-md-6">
        @if (Model.ArticlesByCategorySection1 != null)
        { @ArticlesListByCategoryHead(Model.ArticlesByCategorySection1, 0);
        }
        @if (Model.ArticlesByCategorySection1 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection1, 1);
        }
        @if (Model.ArticlesByCategorySection1 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection1, 2);
        }
        @if (Model.ArticlesByCategorySection1 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection1, 3);
        }
    </div>
    <div class="col-sm-6 col-md-6">
        @if (Model.ArticlesByCategorySection2 != null)
        { @ArticlesListByCategoryHead(Model.ArticlesByCategorySection2, 0);
        }
        @if (Model.ArticlesByCategorySection2 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection2, 1);
        }
        @if (Model.ArticlesByCategorySection2 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection2, 2);
        }
        @if (Model.ArticlesByCategorySection2 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection2, 3);
        }
    </div>
    <div class="col-sm-6 col-md-6">
        @if (Model.ArticlesByCategorySection3 != null)
        { @ArticlesListByCategoryHead(Model.ArticlesByCategorySection3, 0);
        }
        @if (Model.ArticlesByCategorySection3 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection3, 1);
        }
        @if (Model.ArticlesByCategorySection3 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection3, 2);
        }
        @if (Model.ArticlesByCategorySection3 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection3, 3);
        }
    </div>
    <div class="col-sm-6 col-md-6">
        @if (Model.ArticlesByCategorySection4 != null)
        { @ArticlesListByCategoryHead(Model.ArticlesByCategorySection4, 0);
        }
        @if (Model.ArticlesByCategorySection4 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection4, 1);
        }
        @if (Model.ArticlesByCategorySection4 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection4, 2);
        }
        @if (Model.ArticlesByCategorySection4 != null)
        { @ArticlesListByCategory(Model.ArticlesByCategorySection4, 3);
        }
    </div>
}